@font-face {
	font-family: 'GoodDogRegular';
	src: url('../font/GoodDog-webfont.eot?') format('eot'), 
	     url('../font/GoodDog-webfont.woff') format('woff'), 
	     url('../font/GoodDog-webfont.ttf')  format('truetype'),
	     url('../font/GoodDog-webfont.svg#svgFontName') format('svg');
}

body {
    background-color: #eee;
    background-image: url('../img/bright_squares.png');
    color: #333;
    padding: 0;
    margin: 0;
}

#container {
    margin: 0 auto;
    padding: 40px 40px 30px;
    width: 75%;
    background: #fff;
    font-family: Georgia, serif;
    text-align: center;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

h1, h2, h3 {
    font-family: 'GoodDogRegular', Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 0;
}

h1 a, h2 a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

a {
    color: #222;
}

.credit {
    font-style: italic;
    margin: 2px;
    padding: 0;
    font-size: 11px;
    color: #999;
}

.description {
    font-size: 20px;
    margin: 30px 0;
    font-style: italic;
}

.guide {
    margin: 30px 0;
}

.parameters {
    list-style: none;
    font-size: 14px;
    text-align: left;
}

blockquote {
    margin: 10px 0;
    text-align: left;
    padding: 10px 0 10px 20px;
    border: solid 1px #ddd;
}

pre {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.download, .github {
    margin: 60px 0 40px;
    font-size: 18px;
    font-style: italic;
    color: #888;
}

.download-link, .github-link {
    padding-left: 20px;
}

.footer {
    border-top: dashed 1px #ccc;
    margin: 60px -30px 0;
}

.footer a, footer a:visited {
    color: #bbb;
    font-size: 36px;
    font-style: italic;
    line-height: 1.6;
    padding: 20px;
}

.footer a:hover {
    color: #aaa;
}

@media screen and (max-width: 480px) {
    .guide, .download {
        display: none;
    }
    
    .footer {
        margin-top: 30px;
    }
    
    #container {
        padding-top: 80px;
    }
    
    .footer a, footer a:visited {
        font-size: 28px;
        font-style: italic;
        line-height: 1.6;
        padding: 14px;
    }
}