/* -------------------------------------------
		MAIN STYLES
----------------------------------------------  */

#wrapper {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-family: Georgia, serif;
    color: #222;
}

h1 {
    font-size: 40px;
}

.credit {
    font-style: italic;
    margin: 2px;
    padding: 0;
    font-size: 11px;
    color: #999;
}

.credit a, .credit a:visited {
    color: #888;
}

footer {
    width: 320px;
    margin: 20px auto;
}

footer p {
    font-size: 14px;
    line-height: 1;
}

footer a {
    padding: 8px;
    display: block;
    color: #999;
    font-size: 24px;
    font-style: italic;
}

footer a:visited {
    color: #999;
}

@media screen and (max-width:680px) {
    h1 {
        font-size: 30px;
    }
}